.tablestyle 
{
	font-family: arial;
	font-size: small;
	border: solid 1px #7f7f7f;
	margin-top:2px;
}

.altrowstyle 
{
    background-color: #edf5ff;
}
.row-select 
{ 
    background:#BCE774;
    color:#555;
}
.row-over { background-color:#ECFBD4; }
.headerstyle th 
{
    background: url(img/sprite.png) repeat-x 0px 0px;
    border-color: #989898 #cbcbcb #989898 #989898;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #000;
    padding: 4px 5px 4px 10px;
    text-align: center;
    vertical-align: bottom;
}  

.headerstyle th a
{
    font-weight: normal;
	text-decoration: none;
	text-align: center;
    color: #000;
	display: block;
    padding-right: 10px;
}    

.rowstyle .sortaltrow, .altrowstyle .sortaltrow 
{
    background-color: #edf5ff;
}

.rowstyle .sortrow, .altrowstyle .sortrow 
{
    background-color: #dbeaff;
}

.rowstyle td, .altrowstyle td 
{
    padding: 4px 10px 4px 10px;
    border-right: solid 1px #cbcbcb;
}

.headerstyle .sortascheader 
{
    background: url(img/sprite.png) repeat-x 0px -100px;
}

.headerstyle .sortascheader a 
{
    background: url(img/dt-arrow-up.png) no-repeat right 50%;
} 

.headerstyle .sortdescheader 
{
    background: url(img/sprite.png) repeat-x 0px -100px;
}   

.headerstyle .sortdescheader a 
{
    background: url(img/dt-arrow-dn.png) no-repeat right 50%;
} 
.pagerstyle{
    color:White;
    background-color:#44718C;
    font-size:x-small;
    text-align:right;
} 
.pagerstyle select{
    font-size:x-small;
}  
.previous{
    background: white url(images/previous.gif) no-repeat scroll center;
    height:1.5em;
    width:16px;
}
.next{
    background: white url(images/next.gif) no-repeat scroll center;
    height:1.5em;
    width:16px;
}  
.gotopage{
    font-size:x-small;
    width:20px;
}

/* Details view */

table.edit .readonly {
    color: #fff;
}

/* Modal */

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}

.modal-dialog label,
.modal-title {
    color: #333;
}

input[type=file] {
    box-sizing: border-box;
    font-size: 14px;
    margin: 10px 0;
}

.modal-title {
    font-size: 18px;
    font-weight: 500;
}

.form-group {
    border-bottom: dashed 2px #ccc;
    margin-bottom: 0;
    padding: 15px 0 10px 0;
}

    .form-group.first {
        padding-top: 0;
    }

    .form-group.last {
        border-bottom-style: none;
        padding-bottom: 0;
    }

.form-control {
    box-sizing: border-box;
}

.modal-dialog label {
    font-size: 14px;
    font-weight: 700;
}

.validation-label {
    color: #f00;
    display: none;
    font-weight: normal;
    margin-left: 5px;
}

.modal-dialog.delete-dialog {
    width: 400px;
}

    div#content .modal-dialog.delete-dialog p {
        padding: 0;
    }

.project-search-panel {
    padding: 8px 0;
}

    .project-search-panel input,
    .project-search-panel select {
        font-size: 13px;
        height: 25px;
        width: 150px;
        padding: 0;
        box-sizing: border-box;
    }

    .project-search-panel input {
        width: 200px;    
    }

/* Labels */

.success, .error {
    display: block;
    margin: 1em 0;
    font-weight: bold;
}

.success {   
    color: green;
}

.error {
    color: red;
}

.details-validation-summary {
    padding: 8px 5px 18px 5px;
}

