/**
 * 100% height layout with header and footer
 * ----------------------------------------------
 * Feel free to copy/use/change/improve
 */

body {
	margin:0;
	padding:0;
	/* needed for container min-height */
	min-height:100%;
	  background: #18709E url(images/fadebkg.jpg) top center repeat-x;
	font-family:arial,sans-serif;
	font-size:small;
	color:#666;
    padding-bottom: 15px;
}
a:link, a:visited {
  text-decoration: 		none;
  font-weight: 				bold;
  color:							#007ea2; 
}
a:hover {
  color: 							#CCC;
}


h1 { 
	font:1.5em georgia,serif; 
	margin:0.5em 0;
}

h2 {
	font:1.25em georgia,serif; 
	margin:0 0 0.5em;
}
	h1, h2, a {
		color:orange;
	}

p { 
	line-height:1.5; 
	margin:0 0 1em;
}

div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:1000px;
	background:#f0f0f0;
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

div#header {
	padding:0 0 150px 0;
	border-bottom:1px double gray;
	background-image:		url(images/topbar.png);
	background-repeat:	no-repeat;
}
	div#header p 
	{
		
		font-style:italic;
		font-size:1.1em;
		margin:0;
	}

div#content 
{
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
	
}
	div#content p {
		text-align:justify;
		padding:0 1em;
	}

div#footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:#ddd;
	border-top:1px double gray;
	background-image: url(images/bottom.png) ;
}

	/**
 * UNORDERED LISTS
 */
	#prim_links {
	width: 							996px;
	height: 						24px;
	margin: 						0px;
	border: 						2px solid #007ea2;
	border-left: 				2px solid #007ea2;
	border-right: 			3px solid #007ea2;
	background-color: 	#fff;
	margin-left:				0px
}
#prim_links .block {
	border:							0px solid red;
}
#prim_links .block-menu {
	border:							0px solid blue;
}
#prim_links .block-menu .content{
	border:							0px solid blue;
}

#prim_links .block-menu h2.title {
	visibility:					hidden;
	height: 						0px;
	padding:						0px;
	margin:							0px;
	line-height:				0px;
	float:							left;
}
#prim_links .block-menu ul {
	margin: 						0;
	padding: 						0;
}
#prim_links .block-menu ul li {
	list-style-type: 		none;
	padding: 						0;
	margin: 						0;
	display: 						block;
	float: 							left;
	background-color:		#fff;
	font: 							10px/20px "Lucida Grande", verdana, sans-serif;
	text-align: 				center;	
}
#prim_links .block-menu a span {
	display: 						block;
	padding-top: 				1px;
}
#prim_links .block-menu a {
	margin: 						0;
	color: 							#007ea2;
	font-size:					12px;
	text-decoration:		none;
	font-weight: 				bold;
	display: 						block;
	width: 							131px;
	height: 						24px;
	border-left: 				1px solid #007ea2;
}
#prim_links .block-menu li a.active {
	background-color:		#007ea2;
	color: 							#FFFFFF; 
}
#prim_links .block-menu a:hover { 
	background-color:		#007ea2;
	color: 							#FFFFFF; 
	text-decoration:		none;
}

#block-user-1 {
	margin-left: 				6px;
}

/* Map page */

.map-grid-results {
    width: 1000px;
    background: white;
    border: solid 1px black;
    border-top-style: none;
}

.map-grid-results .tablestyle {
    margin-top: 0;
    border-style: solid none solid none;
}

.map-grid-results .tablestyle tr td:first-child {
    border-left-style: none;
}

#newProject {
    background: white; 
    position: absolute; 
    left: 50%; 
    top: 45px; 
    z-index: 100; 
    display: block;
    width: 300px;
    padding: 10px;
    border: solid 1px #888;
    margin-left: -150px;
    box-shadow: 5px 5px 5px #888;
    display: none;
}

.validation-summary {
    display: none;
    padding: 0 0 10px 10px;
    color: red;    
    position: relative;
}

.validation-summary:before {
    content: '*';
    position: absolute;
    left: 1px;
    top: 0;
}

/* Form styles */

.form-row {
    padding-bottom: 10px;
    position: relative;
}

.form-buttons {
    padding-left: 100px;
}

.form-row label, 
.form-row input,
.form-row select {
    display: inline-block;
    vertical-align: middle;
    color: #666;
}

.form-row label {
    width: 100px;
}

.form-row input, 
.form-row select {
    width: 195px;
    padding: 3px;
    margin-left: -4px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    outline: none;
}

.form-row input.invalid {
    transition: 0.3s border-color ease;
    border-color: red;
}